.pdf-page {
	--user-unit: 1;
	--scale-factor: 1;
	--total-scale-factor: calc(var(--scale-factor) * var(--user-unit));
	--scale-round-x: 1px;
	--scale-round-y: 1px;
}

.annotationLayer {
	--annotation-field-background: rgb(0 54 255 / 13%);
	--annotation-field-border: transparent;

	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	transform-origin: 0 0;
}

.annotationLayer section {
	position: absolute;
	box-sizing: border-box;
	pointer-events: auto;
	text-align: initial;
	transform-origin: 0 0;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea),
.annotationLayer .choiceWidgetAnnotation select,
.annotationLayer .buttonWidgetAnnotation.checkBox input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	font: calc(9px * var(--total-scale-factor)) sans-serif;
	background-color: var(--annotation-field-background);
	border: 2px solid var(--annotation-field-border);
}

.annotationLayer .textWidgetAnnotation textarea {
	resize: none;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input {
	accent-color: #2563eb;
}

.annotationLayer :is(input, textarea, select):hover {
	border-color: #111827;
}

.annotationLayer :is(input, textarea, select):focus {
	background-color: transparent;
	border-color: Highlight;
	border-radius: 2px;
	outline: 1px solid Canvas;
}
